go 1.21.5

use (
	./annalyns-infiltration
	./bird-watcher
	./blackjack
	./card-tricks
	./cars-assemble
	./hello-world
	./lasagna
	./need-for-speed
	./party-robot
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
